body {
    font-family: sans-serif;
    margin: 2em;
    color: rgba(0,0,0,0.8);
}

input {
    display: block;
    margin-bottom: 1em;
    width: 70%;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shuttering {
  0% {
    opacity: 1;
  }
  49.99% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}